<div class="small dimmed">
{{#if ruter.info.isLoaded}}
<table>

{{#each ruter.avganger}}
  <tr>
      <td class="icon-svg icon-svg-{{type}}"></td>
      <td >{{line}} - {{name}}</td>
      {{#each next}}
      <td>
      {{.}}
      </td>
      {{/each}}
  </tr>
{{/each}}
</table>
<span class="xsmall">Sist oppdatert: {{ruter.info.lastFetched}}</span>
{{else}}
Ingen info fra Ruter
{{/if}}
</div>