<div class="small dimmed">
{{#if ruter.info.isLoaded}}
<table>

<tr>
  </tr>
  {{#each ruter.avganger}}
<tr>
    <td>{{line}} - {{name}}</td>
    <td>
    {{next}}
    </td>
  </tr>

  {{/each}}
</table>
<span class="xsmall">Sist oppdatert: {{ruter.info.lastFetched}}</span>
{{else}}
Ingen info fra Ruter
{{/if}}
</div>